:root {
  --padding-main: 5rem;
}

.light-mode {
  --color-background: #f3efe3;
  --color-text: #293946;
  --color-primary: #bf873a;
  --color-secondary: #d49785;
  --color-accent: #a06347;
}

.dark-mode {
  --color-background: #1e2a33;
  --color-text: #f3efe3;
  --color-primary: #d49785;
  --color-secondary: #e9d785;
  --color-accent: #aebfc6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* FONTS */
html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.6rem;
  margin: 20px 0;
}

h3 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

p,
li {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  margin: 10px 0;
}

a {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 2px solid var(--color-secondary);
  transition: scale 0.25s linear;
  position: relative;
}

a:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  left: 0;
  bottom: -2px;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

a:hover:before {
  transform: scale(1);
}

/* GENERAL */
html {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 10px solid var(--color-primary);
}

body {
  max-width: 850px;
  margin: 0 auto;
  padding: var(--padding-main);
}

section:after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--color-primary);
  display: inline-block;
  margin-top: 5rem;
}

/* NAV BAR */
header a {
  border-bottom: 3px solid var(--color-secondary);
}

header a:before {
  height: 3px;
  bottom: -3px;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
}

.bar {
  width: 28px;
  height: 3px;
  background-color: var(--color-text);
  margin: 8px 0;
  transition: transform 0.4s;
}

.collapsible--open .bar1 {
  transform: translateY(11px) rotate(45deg);
}

.collapsible--open .bar2 {
  opacity: 0;
}

.collapsible--open .bar3 {
  transform: translateY(-11px) rotate(-45deg);
}

.nav-bar {
  display: none;
}

.nav-bar-collapsible--open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-background);
  z-index: 1000;
}

.nav-bar-collapsible--open .logo {
  display: none;
}

.nav-item {
  list-style: none;
}

.nav-bar a {
  font-size: 2rem;
}

.nav-bar-collapsible--open .nav-item a {
  font-size: 4rem;
}

.nav-bar-collapsible--open .nav-item {
  margin-bottom: 2rem;
}

.nav-bar-collapsible--open .container {
  transform: scale(1.4);
  margin-top: 2rem;
}

.social-links {
  flex-grow: 1;
  display: flex;
  position: relative;
  top: 5px;
}

.social-links a {
  padding-right: 3rem;
}

.social-links svg {
  fill: var(--color-text);
  transition: fill 0.2s;
  height: 2rem;
}

svg:hover {
  fill: var(--color-secondary);
}

@media screen and (min-width: 650px) {
  .hamburger-icon {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100%;
    align-items: center;
  }

  .logo {
    display: flex;
    background-color: var(--color-secondary);
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
  }

  .logo a,
  .social-links a {
    color: var(--color-background);
    border-bottom: none;
  }

  /* prevent default link behavior */
  .logo a:hover:before,
  .social-links a:hover:before {
    transform: scale(0);
  }

  .nav-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  }
}

/* DARK MODE TOGGLE */
.container {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.switch {
  display: flex;
  height: 27px;
  position: relative;
  width: 50px;
  top: 3px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  bottom: 2px;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  z-index: 1000;
}

.switch input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-moon,
.toggle-sun {
  /* width: 50%; */
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 0.25em;
  position: relative;
  top: 3px;
  left: 5px;
  z-index: 420;
}

.toggle-moon {
  left: 7px;
}

.toggle-moon svg,
.toggle-sun svg {
  fill: var(--color-secondary);
}

/* PROJECTS */
.project a {
  font-size: 1.6rem;
  margin-right: 1.2rem;
  font-weight: 600;
}

.project {
  margin-bottom: 4rem;
}

@media screen and (min-width: 850px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .project {
    margin-bottom: 0;
  }
}
/* FOOTER */
footer {
  margin-top: 6rem;
}

.line {
  width: 60px;
  height: 2px;
  background-color: var(--color-accent);
  display: inline-block;
}

.get-in-touch {
  margin: 2rem 0;
}

/* PROJECT DETAILS */
.technologies li {
  font-size: 1.8rem;
  color: var(--color-primary);
  list-style: none;
  font-weight: bold;
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
}

.technologies li:before {
  content: "#";
}

.links {
  margin-top: 2rem;
}

.links a {
  margin-right: 2rem;
}

.details {
  font-weight: bold;
}

.features {
  width: 90%;
  margin: 3rem auto;
}

article {
  margin-bottom: 6rem;
}

/* CONTACT PAGE */
.contact-page {
  height: 100vh;
}

.contact-page main {
  margin: 4rem 0;
}

/* CHANGE HIGHLIGHT COLOR */
::selection {
  background: var(--color-primary);
  color: var(--color-background);
}
::-moz-selection {
  background: var(--color-primary);
  color: var(--color-background);
}
