<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <article class="project-details">
        <h2>Project Name</h2>
        <ul class="technologies">
            <li>tech-name</li>
            <li>tech-name</li>
            <li>tech-name</li>
            <li>tech-name</li>
            <li>tech-name</li>
            <li>tech-name</li>
        </ul>
        <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed necessitatibus cumque aliquam maiores ab explicabo accusantium sit molestiae repellat doloremque!</p>
        <div class="links">
            <a href="">details</a>
            <a href="">view code</a>
            <a href="">view live</a>
        </div>
    </article>
    <script src="/js/app.js"></script>
</body>
</html>